::selection{
  background-color:#aceb2f;
  color:#FFFFFF;
}

body{
  color:#353535;
  font-family:'Open Sans', sans-serif;
}

p{
  line-height:1.5;
  margin-bottom:2rem;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Days One' !important;
}

.btn{
  border-radius:15px;
  font-family:'Days One';
  padding:.5rem 2rem;
  text-transform:uppercase;
}

.btn-primary{
  background-color:rgb(240, 60, 71);
  border-color:rgb(240, 60, 71);
  color:#FFFFFF;
}

.popflyxp-header{
  position:relative;
  z-index:10;
}

.main-navigation{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  z-index:100;
}

  .main-navigation .navbar{
    padding-left:0;
    padding-right:0;
  }

  .main-navigation .navbar-collapse{
    flex-basis:0;
    justify-content:flex-end;
  }

  .main-navigation .navbar-dark .navbar-nav .nav-item a:link,
  .main-navigation .navbar-dark .navbar-nav .nav-item a:visited{
    color:#FFFFFF;
    font-family:'Days One';
    font-size:16px;
    padding:1rem 1.5rem;
    text-transform:uppercase;
  }

  .main-navigation .navbar-dark .navbar-nav .nav-item a:hover{
    color:#f03c47;
    text-decoration:none;
  }

.main-header-title{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:90;
}

  .main-header-title h1{
    color:#FFFFFF;
    font-size:4rem;
    margin:0;
    text-transform:uppercase;
  }

.tall-header-title{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:flex-end;
  justify-content:flex-start;
  z-index:90;
}

.tall-header-title .container{
  padding-bottom:5rem;
}

.tall-header-title .col-md-7{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
}

.tall-header-title h1{
  color:#FFFFFF;
  font-size:3rem;
  margin:auto 0 2rem;
  text-transform:uppercase;
}

.tall-header-title a.btn{
  margin-bottom:5rem;
}

.slick-container{
  position: relative;
}

  .slick-container .frame-holder{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:100;
    pointer-events:none;
  }

  .slick-container .slick-slider{
    position: relative;
    z-index:50;
  }

@media(max-width:767px){
  .main-navigation .navbar-collapse{
    flex-basis:100%;
    text-align:center;
  }
}